*.so
*.o
*.a
*.apk

*.zig-cache
*zig-pkg
*zig-out
*objdump

example/build/Android/.gradle/
example/build/Android/gradle/
example/build/Android/build/
example/build/Android/app/build/
example/build/Android/local.properties
example/build/Android/GeneratedPluginRegistrant.java
example/build/Android/app/src/main/assets

.env
.env.*

.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
